* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #666666;
}
h2 {
  font-size: 22px;
  color: #ffffff;
}
h3 {
  font-size: 20px;
  color: #ffffff;
}
h4 {
  font-size: 12px;
  color: #666666;
}

.unstyled_ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.clear_fix {
  content: '';
  display: table;
  clear: both;
}

#nav {
  width: 250px;
  height: calc(100% - 90px);
  background-color: #000000;
  float: left;
  display: flex;
  flex-direction: column;
}

/* logo */
#logo_container {
  width: 100%;
  height: 90px;
  padding: 10px;
}
#logo_container img {
  width: 80%;
}

/* menu */
#menu {
  padding: 20px;
  color: #666666;
}
#menu li {
  margin: 10px 0;
}
#menu i {
  margin-right: 10px;
  cursor: pointer;
}

/* playlists */
#playlists {
  height: calc(100% - 90px);
  padding: 20px;
  color: #666666;
}
#playlists h3 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.crea_playlist {
  height: 40px;
  line-height: 40px;
}
#playlists i.fas.fa-plus-square {
  vertical-align: middle;
  font-size: 40px;
}
#playlists ul {
  height: 60%;
  margin-top: 10px;
  overflow-y: scroll;
}
#playlists li {
  margin: 10px 0;
}

/* profile */
#profile {
  width: 100%;
  height: 90px;
  padding: 20px;
  color: #666666;
}
.profile_top {
  padding-bottom: 10px;
  border-bottom: 1px solid #666666;
}
.profile_bottom {
  padding-top: 10px;
}

/* main */
#main {
  width: calc(100% - 250px);
  height: calc(100% - 90px);
  padding: 110px 20px 20px;
  background-color: #141922;
  float: left;
  overflow-y: scroll;
}
#header {
  width: calc(100% - 250px);
  height: 90px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* abum nav */
#album_nav {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#album_nav ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
#album_nav li {
  text-transform: uppercase;
  margin: 15px;
  display: inline-block;
}
#album_nav a {
  font-size: 14px;
}

/* cover */
.cover_list {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
}
.cover {
  width: calc(100% / 6);
  padding: 10px 10px;
  text-align: center;
}
.covers > h2 {
  padding-left: 10px;
  margin-bottom: 15px;
  color: #ffffff;
}
.cover img {
  width: 100%;
}

/* creato per John Doe */
#creato_per_jhon > h3 {
  margin-bottom: 10px;
}

/* artisti_popolari */
#artisti_popolari > h3 {
  margin-bottom: 10px;
}
#artisti_popolari .cover > img {
  border-radius: 50%;
}


.btn {
  padding: 10px 30px;
  border: 1px solid #ffffff;
  border-radius: 20px;;
  text-align: center;
  color: #ffffff;
  display: inline-block;
}

/* footer */
footer {
  width: 100%;
  height: 90px;
  color: #ffffff;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.side_footer {
  width: 250px;
  height: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
}
.side_footer h5 {
  color: white;
}
.side_footer h6 {
  color: #666666;
}
.thumbnail {
  width: 50px;
  height: 50px;
  background-image: url('../img/sinister.jpg');
  background-size: cover;
  overflow: hidden;
}
.thumbnail img {
  width: 100%;

  /* height: 100%; */
}
.song_title {
  width:40%;
  height: 50px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pref_archive_icon {
  padding: 10px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.pref_archive_icon i {
  padding: 2px 10px;
  color: #797979;
}
footer i {
  color: #f0f3f4;
  padding: 10px;
}
.bar {
  width: 70%;;
  min-width: 55px;
  height: 3px;
  border-radius: 2px;
  background-color: #797979;
}
.bar_indicator {
  width: 40%;
  height: 100%;
  border-radius: 2px;
  background-color: #f0f3f4;
}
#media_control {
  width: 40%;
  height: 100%;
}
#media_control_top {
  height: 40%;
  padding-top: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#media_control_top i {
  font-size: 16px;
}
#media_control_top i.far.fa-play-circle {
  font-size: 30px;
  padding: 0 15px;
}
#media_control_bot {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time_indicator {
  font-size: 10px;
  padding: 0 15px;
}
.side_footer:last-of-type {
  padding-right: 10px;
}
.side_footer i.fas.fa-volume-up {
  padding-right: 10px;
}









/* media qwery */
/* height media qwery */
@media screen and (max-height: 610px) {
  #playlists ul {
    height: 40%;
  }
}

/* width media qwery */
@media screen and (min-width: 769px) {
  #logo_container .xs {
    display: none;
  }
}


/* md media qwery */
@media screen and (max-width: 992px) {
  .cover {
    width: calc(100% / 4);
  }
  /* footer */
  #media_control_top i {
    font-size: 12px;
  }
  #media_control_top i.far.fa-play-circle {
    font-size: 24px;
    padding: 0 10px;
  }
}

/* s media qwery */
@media screen and (max-width: 768px) {
  /* main */
  .cover {
    width: calc(100% / 2);
  }
  /* footer */
  footer h5 {
    font-size: 12px;
  }
  footer h6 {
    font-size: 10px;
  }
  footer .side_footer {
    width: 150px;
  }
  .side_footer .thumbnail{
    width: 40px;
    height: 40px;
  }
  footer .side_footer:first-of-type {
    width: 130px;
  }
  .pref_archive_icon {
    flex-direction: column;
  }
  .side_footer:last-of-type i {
    font-size: 12px;
    padding: 2px;
  }

}

/* xs media qwry */
@media screen and (max-width: 768px) {
  #nav {
    text-align: center;
    width: 60px;
  }

  #logo_container {
    width: 100%;
    height: 40px;
  }
  #logo_container img {
    width: 60%;
  }
  #logo_container .xl {
    display: none;
  }

  #menu {
    width: 100%;
    height: calc(100% - 90px);
    padding: 0px;
  }
  #menu ul {
    text-align: center;
  }
  #menu ul li {
    margin: 0;
  }
  #menu ul i {
    margin: 10px 0;
    font-size: 20px;
  }
  #menu ul a{
    display: none;
  }

  #playlists {
    display: none;
  }

  #profile {
    align-self: center;
    padding: 5px;
  }
  #profile a {
    display: none;
  }
  #profile .profile_top {
    height: 60%;
    padding-top: 30px;
    padding-bottom: 0px;
    border: none;
  }
  #profile .profile_top i {
    font-size: 10px;
  }
  #profile .profile_bottom{
    padding-top: 10px;
  }
  #profile .profile_bottom i {
    font-size: 20px;
  }
  /* main */
  #main {
    width: calc(100% - 60px);
  }
  /* header */
  #header {
    width: calc(100% - 60px);
  }

}
